.hide{
    display: none;
}
table{
    border: 3px solid rgb(255, 255, 255);
    
}
table>tbody>tr>td{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}
body{
    background-color: pink
}